header {
    background-color: rgb(67, 158, 194);

}

main {
background-color: yellowgreen;
}
footer {
background-color: rgb(93, 220, 20);
}
h1 {
    text-align: center;
}
body {
    background-color: peru;
}

h1 {
    text-align: center;
    text-decoration:underline black;
}
h3 {
    color: rgba(17, 28, 189, 0.979);
}
